# Model set-up
Run with 2000 scenarios, no policies applies

Can be later on added to the first chapter.

Imports

In [11]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import networkx as nx

# make sure pandas is version 1.0 or higher
# make sure networkx is verion 2.4 or higher
print(pd.__version__)
print(nx.__version__)

NameError: name 'Imports' is not defined

In [2]:
from ema_workbench import (
    Model,
    Policy,
    ema_logging,
    SequentialEvaluator,
    MultiprocessingEvaluator,
)
from dike_model_function import DikeNetwork  # @UnresolvedImport
from problem_formulation import get_model_for_problem_formulation, sum_over, sum_over_time

Problem formulation

In [3]:
ema_logging.log_to_stderr(ema_logging.INFO)

# choose problem formulation number, between 0-5
# each problem formulation has its own list of outcomes
dike_model, planning_steps = get_model_for_problem_formulation(2)

Model zero policies

Run model #1:

Assumptions:
Scenario's: 2000
Policy's: 0

In [ ]:
scenarios_base = 2000

[MainProcess/INFO] pool started with 12 workers
[MainProcess/INFO] performing 2000 scenarios * 1 policies * 1 model(s) = 2000 experiments
  0%|                                                 | 0/2000 [00:00<?, ?it/s]

In [ ]:
# running the model through EMA workbench
with MultiprocessingEvaluator(dike_model) as evaluator:
    results_base = evaluator.perform_experiments(scenarios_base)

[MainProcess/INFO] pool started with 12 workers
[MainProcess/INFO] performing 2000 scenarios * 1 policies * 1 model(s) = 2000 experiments
 19%|███████▍                               | 383/2000 [00:41<03:59,  6.76it/s]

Results 2000 scenarios / 5 policies (saved to csv)

In [ ]:
experiments_base, outcomes_base = results_base
policies = experiments_base['policy']
outcomes_2000s_0p = pd.DataFrame.from_dict(outcomes_base)
outcomes_2000s_0p['policy'] = policies

In [6]:
outcomes_2000s_0p

In [7]:
experiments_2000s_0p = experiments_base
experiments_2000s_0p

,Expected Annual Damage,Dike Investment Costs,RfR Investment Costs,Evacuation Costs,Expected Number of Deaths,policy
0,1.882584e+08,0,0.0,0.0,0.179969,policy 0
1,1.039182e+09,0,0.0,0.0,1.671262,policy 0
2,9.152977e+08,0,0.0,0.0,1.323831,policy 0
3,4.608229e+08,0,0.0,0.0,0.584433,policy 0
4,2.776823e+09,0,0.0,0.0,3.839870,policy 0
...,...,...,...,...,...,...
1995,3.674243e+08,0,0.0,0.0,0.535035,policy 0
1996,1.917904e+09,0,0.0,0.0,3.401053,policy 0
1997,4.240269e+07,0,0.0,0.0,0.048261,policy 0
1998,4.900640e+09,0,0.0,0.0,4.779904,policy 0
1999,5.250440e+08,0,0.0,0.0,0.558333,policy 0

In [8]:
outcomes_2000s_0p.to_csv('output_data/outcomes_2000s_0p.csv')
experiments_2000s_0p.to_csv('output_data/experiments_2000s_0p.csv')

,A.0_ID flood wave shape,A.1_Bmax,A.1_Brate,A.1_pfail,A.2_Bmax,A.2_Brate,A.2_pfail,A.3_Bmax,A.3_Brate,A.3_pfail,...,A.3_DikeIncrease 2,A.4_DikeIncrease 0,A.4_DikeIncrease 1,A.4_DikeIncrease 2,A.5_DikeIncrease 0,A.5_DikeIncrease 1,A.5_DikeIncrease 2,scenario,policy,model
0,40,342.678794,10.0,0.596634,288.908370,1.0,0.635240,193.026130,1.5,0.803846,...,0,0,0,0,0,0,0,0,policy 0,dikesnet
1,75,335.268316,1.5,0.920663,124.590927,1.0,0.302005,204.802225,1.0,0.243811,...,0,0,0,0,0,0,0,1,policy 0,dikesnet
2,14,70.922900,1.0,0.538127,100.675513,10.0,0.978648,147.556589,1.0,0.344803,...,0,0,0,0,0,0,0,2,policy 0,dikesnet
3,67,282.699435,1.5,0.703346,89.043213,1.5,0.951237,168.606134,1.0,0.444187,...,0,0,0,0,0,0,0,3,policy 0,dikesnet
4,14,130.946873,10.0,0.535470,151.268829,1.0,0.162863,103.675961,1.0,0.107063,...,0,0,0,0,0,0,0,4,policy 0,dikesnet
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,66,105.824179,10.0,0.827171,304.340241,10.0,0.883102,205.892157,10.0,0.383975,...,0,0,0,0,0,0,0,1995,policy 0,dikesnet
1996,6,197.838985,1.5,0.889614,139.491093,1.5,0.862869,349.273818,1.5,0.075577,...,0,0,0,0,0,0,0,1996,policy 0,dikesnet
1997,85,299.107407,10.0,0.987230,108.985073,10.0,0.598530,248.220747,10.0,0.958235,...,0,0,0,0,0,0,0,1997,policy 0,dikesnet
1998,94,221.440319,10.0,0.046065,211.603830,1.5,0.454907,347.831836,10.0,0.008815,...,0,0,0,0,0,0,0,1998,policy 0,dikesnet
1999,39,233.464513,1.5,0.613982,78.316254,1.5,0.570571,254.560714,10.0,0.599852,...,0,0,0,0,0,0,0,1999,policy 0,dikesnet

Model random policies

In [10]:
# Run model #2:
#
# Assumptions:
# Scenarios: 2000
# Policies: 500

,Unnamed: 0,Expected Annual Damage,Dike Investment Costs,RfR Investment Costs,Evacuation Costs,Expected Number of Deaths,policy
0,0,1.882584e+08,0,0.0,0.0,0.179969,policy 0
1,1,1.039182e+09,0,0.0,0.0,1.671262,policy 0
2,2,9.152977e+08,0,0.0,0.0,1.323831,policy 0
3,3,4.608229e+08,0,0.0,0.0,0.584433,policy 0
4,4,2.776823e+09,0,0.0,0.0,3.839870,policy 0
...,...,...,...,...,...,...,...
1995,1995,3.674243e+08,0,0.0,0.0,0.535035,policy 0
1996,1996,1.917904e+09,0,0.0,0.0,3.401053,policy 0
1997,1997,4.240269e+07,0,0.0,0.0,0.048261,policy 0
1998,1998,4.900640e+09,0,0.0,0.0,4.779904,policy 0
1999,1999,5.250440e+08,0,0.0,0.0,0.558333,policy 0

In [ ]:
# scenarios = 2000
# policies = 5

In [ ]:
# # running the model through EMA workbench
# with MultiprocessingEvaluator(dike_model) as evaluator:
#     results_base = evaluator.perform_experiments(scenarios, policies)

Results 2000 scenarios / 5 policies (saved to csv)

In [ ]:
# experiments, outcomes = results
# policies = experiments['policy']
# outcomes_random_2000s_5p = pd.DataFrame.from_dict(outcomes)
# outcomes_random_2000s_5p['policy'] = policies

In [ ]:
# outcomes_random_2000s_5p

In [ ]:
# experiments_random_2000s_5p = experiments
# experiments_random_2000s_5p

In [ ]:
# outcomes_random_2000s_5p.to_csv('output_data/outcomes_random_2000s_5p.csv')
# experiments_random_2000s_5p.to_csv('output_data/experiments_random_2000s_5p.csv')